<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ParentConfig" value="framework.[mode].config"/>
    <add key="log4net.Config" value="Log4Net.config" />
    <add key="SmtpFrom" value="jcbennet@knox.edu" />
    <add key="SmtpTo" value="jcbennet@knox.edu" />
    <add key="SmtpServer" value="localhost" />
    <add key="SmtpPort" value="25" />
    <add key="InvolvementFileLocation" value="ExampleFiles/testInvolve.txt" />
    <add key="TranslationFile" value="ExampleFiles/codevalues.csv"/>
  </appSettings>
</configuration>